* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tituloDelJuego {
    color: #ddd;
    margin: 20px;
    text-shadow: 2px 2px #333;
}

a {
    margin: 20px;
    display: block;
    padding: 10px 15px;
    background: #dad9d9;
    color: rgb(61, 124, 18);
    border: none;
    border-radius: 25px;
}

a:hover {
    background: rgb(155, 38, 116);
    color: #dad9d9;
}

#game {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    background-color: #ddd;
    position: relative; /* Necesario para posicionar elementos dentro */
    overflow: hidden; /* Para evitar que los elementos se salgan */
}

#personaje {
    width: 128px;
    height: 128px;
    background-image: url(../assets/Swordsman/Run.png);
    background-repeat: no-repeat;
    position: absolute; /* Cambiado a absolute */
    bottom: 10px; /* Ajustado para iniciar 10px desde abajo */
    left: 10px; /* Ajustado para iniciar 10px desde la izquierda */
    z-index: 10;
    animation: caminar 1s steps(8) infinite;
}

@keyframes caminar {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1024px 0; /* -128px * 8 frames */
    }
}

#personaje.animate {
    animation: jump 500ms;
}


#personaje.animate {
    animation: jump 1s steps(8) linear;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px); /* Cambia la altura del salto */
    }
    100% {
        transform: translateY(0);
    }
}


#enemigo {
    width: 20px;
    height: 20px;
    background-color: rgb(122, 87, 33);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    animation: enemigo 3s infinite linear;
}

@keyframes enemigo {
    0% {
        right: 10px;
    }
    100% {
        right: calc(100% - 20px);
    }
}
